body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body > header, 
body > main {
    display: inline-block;
    width: 1000px; ;
    margin-left: calc(50% - 500px); 
    margin: ;
}

body > main { 
    margin-top: 100px; 
}

header > img {
    float: left;
    height: 38px 
}

header > nav{
    float right: ;
    margin-top: 13px;
}
nav > a {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    margin-left: 30px;
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
}

nav > a:hover {
    border-bottom: 2px solid red;



    

 body > main {
    margin-top: 100px;
}

main > div {
    width: 45%;
    float: left;
    padding-right: 10%;

}

div > h1 {
    margin-bottom: 10px;
    font-family: cursive;
    font-weight: normal;
}

h1 > span {
    color: tomato;
}
div > p {
    margin-bottom: 25px;

}

 div > a {
     padding: 10px;
     padding-left: 25px;
     padding-right: 25px;
     color: white;
     text-decoration: none;
     background-color: rgb(233, 136, 24);
     border-radius: 5px;
 } 


manin > img {
    width: 55%;
    height: 300px;
    float: left;
    object-fit: contain;
    object-position:bottom right;

}
